<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="secuso.org.privacyfriendlywifi">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.secuso.privacyfriendlywifimanager.view.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlywifimanager.view.tutorial.TutorialActivity"
            android:theme="@style/AppTheme.NoActionBar"> <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="org.secuso.privacyfriendlywifimanager.view.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlywifimanager.view.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.secuso.privacyfriendlywifimanager.view.AboutActivity"
            android:label="@string/fragment_about"
            android:parentActivityName="org.secuso.privacyfriendlywifimanager.view.MainActivity" />
        <activity
            android:name="org.secuso.privacyfriendlywifimanager.view.DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName="org.secuso.privacyfriendlywifimanager.view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlywifimanager.view.MainActivity" />
        </activity>

        <service
            android:name="org.secuso.privacyfriendlywifimanager.service.ManagerService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />
        <service
            android:name="org.secuso.privacyfriendlywifimanager.service.WifiUpdaterService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <receiver android:name="org.secuso.privacyfriendlywifimanager.service.receivers.AlarmReceiver" />
        <receiver android:name="org.secuso.privacyfriendlywifimanager.service.receivers.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.secuso.privacyfriendlywifimanager.service.receivers.WifiChangedReceiver">
            <intent-filter android:priority="100">
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.secuso.privacyfriendlywifimanager.service.WifiNotification$NotificationButtonListener" />
        <receiver android:name="org.secuso.privacyfriendlywifimanager.service.WifiNotification$NotificationClickListener" />
        <receiver android:name="org.secuso.privacyfriendlywifimanager.view.WifiWidget$WidgetClickListener" />
        <receiver android:name="org.secuso.privacyfriendlywifimanager.view.WifiWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/wifi_widget_info" />
        </receiver>
    </application>

</manifest>